<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <!-- Home -->
  <servlet>
    <servlet-name>Ex6Home</servlet-name>
    <servlet-class>project.practice.ex6.ServerHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex6Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  
  <!-- Insert Database -->
  <servlet>
    <servlet-name>Ex6Upload</servlet-name>
    <servlet-class>project.practice.ex6.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex6Upload</servlet-name>
    <url-pattern>/InsertDatabase</url-pattern>
  </servlet-mapping>
  <!-- Read from Database -->
  <servlet>
    <servlet-name>Ex6Read</servlet-name>
    <servlet-class>project.practice.ex6.ReadData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex6Read</servlet-name>
    <url-pattern>/ReadData</url-pattern>
  </servlet-mapping>
</web-app>